{
    outline: 2px solid red;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: rgb(29, 29, 41);
    color: rgb(0, 140, 255);
}
div.intro{
    display: grid;
    gap: 1.5rem;
    border-bottom: 1px solid rgb(0, 140, 255);
}
div.banner-div {
    height: auto;
    width: 100%;
}
div.intro > div > p,div.intro > div > h1{
    text-align: center;
}
div.intro > div > p{
    font-size: 18px;
    width: 93%;
}
div.intro > div{
    white-space: pre-warp;
    display: flex;
    justify-content: center;
}
button{
    background-color: rgb(61, 150, 61);
    color: white;
}
div.intro > div > button{
    font-size: 20px;
    width: 97%;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 50px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}/*
div.intro > div > button:hover{
    box-shadow: 5px 0px 30px rgba(245, 243, 243,0.3);
}
*/
h2{
font-size: 15px;
}
div.tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    gap: 1rem;
    border-bottom: 1px solid rgb(61, 150, 61);
    margin-bottom: 10px;
}
div.tasks > div{
    width: 45%;
    border: 1px solid rgb(0, 140, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
}
div.tasks > div p{
    font-size: 13px;
}
div.tasks > div > button{
    height: 50px;
    width: 100%;
    border: none;
    border-bottom-left-radius: 20px;
}
div.tasks > div img{
    width: 50%;
    border-radius: 50%;
    object-fit: fill;
}
div.how-it-works{
    background-color: rgb(0, 140, 255);
    color: rgb(29, 29, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
div.how-it-works > div > div{
    background-color: rgb(61, 150, 61);
    width: 90%;
    font-size: 13px;
}
div.how-it-works > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.how-it-works > span{
    background-color: rgb(61, 150, 61);
    font-size: 30px;
    font-weight: 900;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
}
span.points-icon{
    width: 500px;
}
div.games-container,div.surveys-container,div.offerwalls-container,div.quckpoints-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
div.games,div.surveys,div.offerwalls,div.quckpoints{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
div.games > div,div.surveys > div,div.offerwalls > div,div.quckpoints > div{
    width: 45%;
    display: flex;
    flex-direction: column;
}
div.games > div > img,div.surveys > div > img,div.offerwalls > div > img,div.quckpoints > div > img{
    width: 94.6%;
    height: 70%;
    border-top-left-radius: 20px;
    border: 1px solid rgb(61, 150, 61);
}
div.games div > a > button,div.surveys > div > a > button,div.offerwalls > div > a > button,div.quckpoints > div > a > button{
    width: 95.5%;
    border: none;
    color: rgb(29, 29, 41);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-right-radius: 20px;
}
div.games-intro > button,div.surveys-intro > a > button,div.offerwalls-intro > a > button,div.quckpoints-intro > a > button{
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(29, 29, 41);
    border: none;
    border-radius: 5px;
}
